<div class="col-md-6 col-md-offset-3 col-xs-12">
  <div style="margin-top:50px;" class="well bs-component">
    <form class="form-horizontal">
      <fieldset>
        <a href="javascript:void(0)" class="btn btn-default btn-lg btn-block btn-raised">
          Ingresa usando tu cuenta Github
        <div class="">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </div>
        </a>
      </fieldset>

      <fieldset style="margin-top:20px">
        <legend>Ingresa</legend>
        <div class="form-group is-empty">
          <label for="inputEmail" class="col-md-2 control-label">Email</label>

          <div class="col-md-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group is-empty">
          <label for="inputPassword" class="col-md-2 control-label">Contraseña</label>

          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button type="button" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-raised btn-primary">Ingresar</button>
          </div>
        </div>
        <div class="form-group">
          <label for="login" class="col-md-6 control-label">¿No tienes cuenta?</label>
          <small><a id="register" href="javascript:void(0)" class="btn btn-primary">Regístarte<div class="ripple-container"></div></a></small>
        </div>
      </fieldset>
    </form>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
  </div>
</div>
