<ul class="row">
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-blue">
      <div class="panel-heading background-blue">
        <p>
          Lorem ipsum dolor sit amet, consectetuer
        </p>
      </div>
      <div class="panel-body background-blue">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
          ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
          Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar ">
        <div class="container-fluid">
          <small class="navbar-text">
            by author on 12/12/2015
          </small>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- <small>by author  on 12/12/2015</small> -->
    </div>
  </li>
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-yellow">
      <div class="panel-heading background-yellow">
        <p>
          title
        </p>
      </div>
      <div class="panel-body background-yellow">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar">
        <div class="container-fluid">
          <p class="navbar-text">
            by author on 12/12/2015
          </p>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </li>
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-red">
      <div class="panel-heading background-red">
        <p>
          title
        </p>
      </div>
      <div class="panel-body background-red">
        <p>
          m ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commo
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar   ">
        <div class="container-fluid">
          <p class="navbar-text">
            by author on 12/12/2015
          </p>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </li>
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-lime">
      <div class="panel-heading background-lime">
        Lorem ipsum dolor sit amet, consectetuer
      </div>
      <div class="panel-body background-lime">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar   ">
        <div class="container-fluid">
          <p class="navbar-text">
            by author on 12/12/2015
          </p>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </li>
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-gray">
      <div class="panel-heading background-gray">
        <p>
          note
        </p>
      </div>
      <div class="panel-body background-gray">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
          ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
          Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar   ">
        <div class="container-fluid">
          <p class="navbar-text">
            by author on 12/12/2015
          </p>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </li>
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-aqua">
      <div class="panel-heading background-aqua">
        <p>
          title
        </p>
      </div>
      <div class="panel-body background-aqua">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
          sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed
          ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo.
          Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar   ">
        <div class="container-fluid">
          <p class="navbar-text">
            by author on 12/12/2015
          </p>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </li>
  <li class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default background-orange">
      <div class="panel-heading background-orange">
        <p>
          title
        </p>
      </div>
      <div class="panel-body background-orange">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellent
        </p>
      </div>
      <div class="clearfix"></div>
      <nav class="navbar">
        <div class="container-fluid">
          <p class="navbar-text">
            by author on 12/12/2015
          </p>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt" aria-hidden="true"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li>
              <a href="#"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"> <i class="fa fa-trash" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </li>
</ul>
<script type="text/javascript">
  require('./app/renderers/by author on 12/12/2015s.js')
</script>
)
</script>
