body{
  background-color: #e0ebeb;
}
textarea{
  resize: none;
}

#preview, #text-input{
  height:600px;
}

ul {
  list-style: none;
}

.navbar-right{
    float: right !important;
}
.navbar-right li{
    float: left !important;
}

.navbar-text {
    float: left !important;
    margin-right: 15px !important;
    margin-left: 15px !important;
}


.dropup > .dropdown-menu{
  background-color: transparent !important;
  min-width: 0 !important;
  height:auto;
  border:none !important;
  left: 7px;
}
.dropup > .dropdown-menu > li >  a{
  margin-bottom:10px;
  border-radius: 50% !important;
  font-size: 15px;
}


.mat-action{
position: fixed !important;
top: 85% !important;
left:90%;
z-index: 99999999;
}
.mat-action a:focus, .mat-action a:hover{
  background-color: #009688 !important;
}

.size-action{
  left:-50px;
  min-width: 100px !important;
}


.nav > li > a {
    text-decoration: none;
    color:#737373;
}
.navbar-text{
  color:#737373;
}

.nav > li > a:hover,  .nav > li > a:focus{
    text-decoration: none;
    background-color: transparent !important;
}



.panel > .navbar{
  margin-bottom: 0px !important;
}

.panel-default>.panel-heading {
  color: #333;
background-color: transparent !important;
border-color: transparent !important;
}

.panel-footer{
    border-top: none !important;
}

.background-blue{
  background-color: #80D8FF;
}

.background-yellow{
  background-color: #FFFF8D;
}

.background-red{
  background-color: #FF8A80;
}

.background-lime{
  background-color: #CCFF90;
}

.background-gray{
  background-color: #CFD8DC;
}

.background-aqua{
  background-color: #A7FFEB;
}

.background-orange{
  background-color: #FFD180;
}

.sidebar{
  margin-top: 100px;
}
